/* GENERAL CSS RULES */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: inline-block;
    position: relative;
}

img:after{
    content:"";
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 0;
    position: absolute;
    opacity: .7;
    top:0;
    left:0;
    background-color: red;
}




h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #222;
    background-color: transparent;
    font-weight: bold;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    list-style-type: none;

}

ul ul {
    list-style-type: circle;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    min-width: 0;
    position: sticky;
    background-color: transparent;
    width: 100%;
    z-index: 999;

}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* START HEADER ROW-1 RULES */

.row-1 {

    position: relative;
    height: 70px;
    z-index: 2;
    background-color: white;
    overflow: visible;
}

.row-1-sx {

    position: absolute;
    left: 10px;
    top: 45px;
    font-size: 14px;
    color: #222;
}

.row-1-sx-temp {
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #222;
    font-weight: normal;
}

.row-1-sx-icon {
    font-weight: 700;
    position: relative;
    top: 2px;
}

#icon-temp {
    font-weight: 700;
    position: relative;
    top: 2px;
}


.row-1-middle {

    margin: 12px auto 0;
    width: 350px;

}

#header-logo {
    display: block;
    background-image: url("pg-logo-800px-transparentbg.png");
    width: 100%;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}


.row-1-dx {

    position: absolute;
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    top: 45px;
    right: 0;
    font-size: 14px;
    color: #717171;

}


.row-1-dx ul {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;

}


.row-1-dx li {

    border-right: 1px solid #717171;
}


.row-1-dx li a {
    font-weight: 700;
    font-size: 14px;
    padding: 0 9px 0 9px;
    color: #222;
}

#row-1-window {
    border-right: none;
}

.row-1-dx li a:hover {
    color: #717171;
    cursor: pointer;
}


#row-1-dx-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    border: 1px solid #eee;
    background-color: white;
    padding: 10px;
    list-style-type: none;
    border-radius: 8px;
}

#row-1-dx-menu a {
    display: block;
    padding: 5px;
    color: #222;
    white-space: nowrap;
    text-align: right;
    font-size: 13px;
    font-family: proxima-nova, Roboto, Arial, sans-serif;
}

#row-1-dx-menu li {
    border-right: none;
}


.row-1-dx li:last-child:hover ul {
    display: block !important;
}


/* END HEADER ROW-1 RULES */

/* START HEADER ROW-2 RULES */

.row-2 {

    position: relative;
    border-top: 4px solid #1fb25a;
    background-color: #222;
    color: white;
    height: 50px;
    width: 100%;
}


.row-2-sx {

    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index:10
}


.toggle-mnu {

    display: inline-block;
    margin: 1rem 2rem 0 1rem;
    vertical-align: middle;
    width: 25px;
    height: 40px;
    text-align: center;

}


.row-2-sx-toggle-menu, .row-2-sx-toggle-menu:before, .row-2-sx-toggle-menu:after {

    display: inline-block;
    width: 25px;
    height: 3.5px;
    background-color: white;

}


.row-2-sx-toggle-menu:before, .row-2-sx-toggle-menu:after {
    content: "";
    width: 25px;

}


.row-2-sx-toggle-menu:after {
    margin-bottom: 8px;
}


.row-2-sx-text {
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    position: absolute;
    left: 11px;
    bottom: 8px;
}


.row-2-sx-buttons {

    display: inline-block;
    vertical-align: middle;
    color: white;

}

.row-2-sx-buttons ul {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: 0 0.6rem 0 0;
    padding: 0;
}

.row-2-sx-buttons ul li {
    margin: 0 0.6rem 0 0;
}






.row-2-sx-buttons a {


    font-weight: normal;
    padding: 0.5rem 0.8rem;
    border: 1px solid #777;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.row-2-sx-buttons  a:hover {
    background-color: white;
    color: black;
}


.row-2-middle {

    display: block;
    position: relative;
    height: 2.5rem;
}

.row-2-sx-butt{
    float:left;
}
.gazette-logo {
    float: left;
    width: 40px;
    position: absolute;
    left: 38%;
    display: none;
}


.gazette-logo a {
    display: inline-block;
    width: 100%;
    height: 33px;
    background-image: url("pg-icon-100px-transparentbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.row-2-middle ul {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.row-2-middle ul li {
    flex-basis: auto;
    padding: 0.5rem 0;
}

.row-2-middle ul li a {
    color: white;
    padding: 0 1rem;
    border-right: 1px solid white;
    font-size: 1.3rem;

}

.row-2-middle ul li a:hover {
    color: #aaa;
    cursor: pointer;
}


.row-2-middle ul #row-2-middle-lastlink {
    border-right: none;
}

@media (max-width: 1419px) {
    .row-2-middle ul li a {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
}


.row-2-dx {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


.row-2-dx-social {
    margin-right: 0.5rem;
}


.row-2-dx-social-fb {
    border-radius: 3px;
    background-color: white;
    font-size: 1.3rem;
    margin-right: 10px;
    position: relative;
    padding: 0 5px;
    top: -4px;

}

.row-2-dx-social-fb:hover {
    background-color: #3b5998;
    color: white;
}


.row-2-dx-social-tw {

    margin-right: 5px;
    flex-basis: 1.8rem;
    font-size: 20px;
    color: white;

}

.row-2-dx-social-tw:hover {
    color: #55acee;
}


.row-2-dx-social-ig {

    margin-right: 8px;
    font-size: 20px;
    color: white;
    flex-basis: 1.8rem
}

.row-2-dx-social-ig:hover {
    color: #f56040;

}

.row-2-dx-query {
    margin-right: 10px;
    color: white;
}

.row-2-dx-query:hover {
    color: #aaa;
}

.row-2-dx-query span {
    font-size: 20px;
}


.row-2-dx-newsletters a {
    padding: 0.5rem 0.8rem;
    font-size: 1.0rem;
    color: white;
    font-weight: normal;
    border: 1px solid #777;
    border-radius: 5px;
}

.row-2-dx-newsletters a:hover {
    background-color: white;
    color: black;
}


/* END HEADER ROW-2 RULES */

/* START PAGE-SLIDEMENU RULES*/

#hidden-menu {
    display: none;
}

.slide-menu {
    overflow: hidden;
    background-color: #222;
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 1500px;
    color: white;
    display: block !important;
    transition: visibility 0s, linear 0s;

}

.start-line {
    height: 1px;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide-menu-top-border {
    margin-top: 13px;
    background-color: #222;
    color: #aaa;
    font-size: 11px;
    padding: 3px 10px;
    border-top: #444;
}

.slide-menu-slider {
    padding: 0;
    margin: 0;
}

.slide-menu-slider li a {
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    color: white;
    padding-left: 10px;
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.slidemenu-section {
    padding-left: 40px !important;
}

.slidemenu-section:before {

    content: "";
    position: absolute;
    left: 0;
    height: 47px;
    width: 4px;
    top: 1px;
}


.icona {
    font-size: 17px;
    padding-right: 5px;
}

.slidemenu-header {
    background-color: #222;
    color: #aaa;
    font-size: 11px;
    padding: 3px 10px;
}

#section-home:before {
    background-color: #1fb25a;
}

#section-news:before {
    background-color: #98ba48;
}

#section-local:before {
    background-color: #e2cd3e;
}

#section-sports:before {
    background-color: #d48e45;
}

#section-opinion:before {
    background-color: #d76563;
}

#section-A\&E:before {
    background-color: #d75da6;
}

#section-life:before {
    background-color: #b066d3;
}

#section-business:before {
    background-color: #7389d9;
}


.slidemenu-section span {
    position: absolute;
    right: 29px;
    display: inline-block;
    line-height: 50px;
}


/* END PAGE-SLIDEMENU RULES*/


/* START PAGE-NAV RULES*/


.page-wrapper {
    position: relative;
    width: 100%;
    background-color: white;

}

.page-container {

    width: 76%;
    margin: 0 auto;
    padding: 0 15px;
}

.left-transition-container {
    transform: translateX(13%);
}


.aside-ads-banner-sx {
    left: 10px;
    position: absolute;

}

.aside-ads-banner-hide {
    display: none !important;
}

.aside-ads-banner-dx {
    top: 0;
    right: 10px;
    position: absolute;
}


.top-ads {
    position: relative;
    margin-bottom: 5px;
}

.ads-notice {
    margin: 0 auto;
    color: #999;
    font-size: 10px;
}


.top-ads-row {
    position: relative;
    margin-top: 10px;
    text-align: center;

}

.page-row-1 {
    display: flex;
    justify-content: space-around;
}

.page-row-1-nav {
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0 0;
    width: 16%;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    text-transform: uppercase;
    min-height: 22px;
}

.nav-news a {
    font-weight: normal;
}

.nav-news-time {
    color: #B2281F;
    font-weight: bold;
    white-space: nowrap;
}

.nav-news-text {
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    margin-bottom: 2.1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
}


.page-main-content {
    order: 2;
    padding: 0 10px;
    width: 45%;
}


.nav-button-text {
    font-family: proxima-nova, Roboto, Arial, sans-serif;
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    background-color: #222;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    box-sizing: content-box;
}


/* END PAGE-NAV RULES*/

/* START PAGE-SECTION RULES*/


.page-main-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.page-main-content-item:nth-child(2),
.page-main-content-item:nth-child(3) {
    flex-basis: 49%;
}

.page-main-content-item:nth-child(4),
.page-main-content-item:nth-child(5), .page-main-content-item:nth-child(6),
.page-main-content-item:nth-child(7), .page-main-content-item:nth-child(8),
.page-main-content-item:nth-child(9) {
    flex-basis: 32%;
}

.page-main-other-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-main-other-item-1 {
    flex-basis: 32%;
}

/* END PAGE-SECTION RULES*/

/* START PAGE-ASIDE RULES*/


.aside-ads {
    order: 2;
    text-align: center;
    width: 300px;
}


.aside-ads-box-title {
    font-size: 13px;
}


.separator {

    border-top: 4px solid #222;
    margin: 20px 0;
}

.separator-thin {
    border-top: 1px solid #222;
    margin: 25px auto;
    width: 30%;
}

.list-aside {
    text-align: left;
    padding: 0;
}

/* END PAGE-ASIDE RULES*/

/*START BUTTON-TOP RULES*/

#top-button-hide {
    display: block;
    width: 40px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    padding: 3px 0 5px;
    z-index: 999;
    cursor: pointer;
}


/*END BUTTON-TOP RULES*/

/* START MEDIA QUERIES - responsive design */


@media screen and (max-width: 767px) {
    .row-1 {
        display: none;
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;

    }

    .row-2 {
        position: relative;
        height: 50px;
        max-width: 1500px;
        min-width: 100%;
        margin: 0 auto;
    }

    .gazette-logo {
        display: block;
        text-align: center;
        padding-top: 8px;
    }

    .row-2-sx-buttons {
        display: none;
    }

    .gazetta-logo {
        left: auto;
        right: auto;
        display: inline-block;
        position: relative;
    }

    .row-2-middle ul {
        display: none !important;
    }


    .row-2-dx {
        right: 0;
    }


    .row-2-dx-newsletters {
        display: none;
    }


    .row-2-dx-social {
        display: none;
    }

    .row-2-dx-query {
        display: block;
    }

    #item-1, #item-2 {
        display: none;
    }

    .top-ads {
        display: none;
    }

    .page-container {

        min-width: initial !important;
        width: auto !important;
        max-width: 550px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        background-color: white;
    }

    .page-content {
        margin-top: 60px;
    }


    .page-row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .page-main-content {
        padding-top: 15px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;

    }

    .page-row-1-nav {
        width: 100%;
        order: 3;
        padding: 0;
        margin-top: 20px;
    }


    .page-main-other-content {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .page-main-other-item-1 {
        margin-bottom: 1.2rem;
    }


    .page-main-other-item-1 a {
        width: 135px;
        height: 135px;
        position: absolute;
    }

    .other-item-text {
        margin-left: 140px;
        padding: 15px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #222;
    }


    .aside-ads-banner-sx {
        display: none;
    }

    .aside-ads-banner-dx {
        display: none;
    }


    .page-main-content-item {
        width: 100%;
    }

    .page-main-content-item img {
        width: 100%;
    }


    .slide-menu {
        width: 50%;
        top: 50px;
        height: 1600px;
        z-index:100000;
    }



}


@media screen and (min-width: 767px) and (max-width: 995px) {

    .page-main-content {
        flex-direction: column;
        order: 1;
        width: 60%;
    }

    .page-row-1-nav {
        width: 100%;
        order: 3;
        padding: 0;
        margin-top: 20px;
    }

    .nav-button-text {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    .page-main-other-content {
        flex-direction: column;
    }

    .aside-ads {
        order: 2;
        margin-top: 20px;
        width: 35%;
        text-align: center;
    }


    .row-2-middle {
        display: none;
    }


    .separator {
        margin: 20px auto;
        width: 300px;
    }

    .page-main-content-item {
        width: 100%;
    }

    .page-main-content-item img {
        width: 100%;
    }


    .slide-menu {
        width: 50%;
        height: 1600px;
        z-index:100000;
    }



    .page-row-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .page-main-other-item-1 {
        width: 100%;
        min-height: 135px;
        max-height: 180px;
        background-color: white;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        position: relative;
    }


    .separator {
        width: auto;
    }

    .page-container {
        width: 80%;
        margin: 20px auto;
        padding: 0 15px;
    }

    .page-main-other-item-1 a {
        width: 135px;
        height: 135px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
    }

    .other-item-text {
        margin-left: 140px;
        padding: 15px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #222;
    }


    .page-main-content-item {
        width: 100%;
    }

    .page-main-content-item img {
        width: 100%;
    }


}


@media  (max-width:1400px){

    .aside-ads-banner-sx {
        display: none;
    }

    .aside-ads-banner-dx {
        display: none;
    }

}



/* END MEDIA QUERIES - responsive design */

























